
<div class="dialog">
    <div class="container">
        <span class="dialog-title">{{ title }}</span>
        <span class="dialog-msg">
            {{ msg }}
        </span>
        <a class="icon-cross" tabindex="0"></a>
    </div>
</div>
