<div class="input-group">
    <input type="password" placeholder="{{placeholder}}" autocomplete="off" ng-model="ngModel">
    <span class="input-addon show-pass" tabindex="0"><span class="icon-eye"></span></span>
</div>
