html,
body {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
header,
main {
  width: 100%;
  float: left;
}
header > .inner,
main > .inner {
  max-width: 980px;
  padding: 0 20px;
  margin: 0 auto;
}
header {
  background: #eeeeee;
}
header ul {
  padding: 0;
  margin: 0;
}
header ul li {
  list-style: none;
  float: left;
}
header ul li a {
  padding: 20px;
  float: left;
  text-decoration: none;
  color: #333;
  cursor: pointer;
}
header ul li a.active {
  color: #e91e63;
  background: #c8cbd2;
}
header ul li a:hover,
header ul li a:focus {
  color: #e91e63;
  background: #d7d7d7;
  animation: btn-focus 0.4s ease-in-out infinite alternate;
  outline: none;
}
main {
  padding: 20px 0;
}
input[type="text"],
input[type="password"],
textarea {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  box-shadow: none;
  outline: none;
  border: 1px solid #ccc;
  margin: 0 0 20px 0;
  font-size: 1em;
}
input[type="text"]:disabled,
input[type="password"]:disabled,
textarea:disabled {
  background: #f3edeb;
  color: #8b93a5;
}
input[type="text"].ng-invalid.ng-touched,
input[type="password"].ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
  background: #ffe1eb;
}
input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus {
  box-shadow: 0 0 1px #03A9F4;
}
textarea {
  height: 200px;
  resize: none;
}
.input-group {
  position: relative;
  margin-bottom: 20px;
}
.input-group input {
  margin-bottom: 0;
}
.input-group .input-addon {
  background: #eee;
  height: 100%;
  line-height: 1em;
  position: absolute;
  top: 0;
  right: 0;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 0 5px 5px 0;
  text-transform: uppercase;
  cursor: pointer;
}
.input-group .input-addon:hover,
.input-group .input-addon:focus {
  color: #e91e63;
  animation: btn-focus 0.4s ease-in-out infinite alternate;
  outline: none;
}
input[type="submit"],
button {
  padding: 10px 20px;
  background: #607D8B;
  border: 1px solid #333;
  border-radius: 5px;
  cursor: pointer;
  color: #333;
  font-size: 1.1em;
}
input[type="submit"] [class^="icon-"],
button [class^="icon-"],
input[type="submit"] [class*=" icon-"],
button [class*=" icon-"] {
  margin-left: 10px;
}
input[type="submit"]:hover,
button:hover,
input[type="submit"]:focus,
button:focus {
  color: #CDDC39;
  transition: color .2s;
  outline: none;
}
table {
  width: 100%;
  border-spacing: 0;
}
table tr:nth-child(odd) td {
  background: #eee;
}
table td,
table th {
  padding: 10px 15px;
}
table td:first-child,
table th:first-child {
  text-align: left;
}
table td:last-child,
table th:last-child {
  text-align: right;
}
table td:last-child [class^="icon-"],
table th:last-child [class^="icon-"],
table td:last-child [class*=" icon-"],
table th:last-child [class*=" icon-"] {
  margin-right: 10px;
}
table a {
  color: #333;
  cursor: pointer;
}
table a:hover {
  color: #e91e63;
}
.dialog {
  background: rgba(45, 45, 45, 0.9);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 5;
  display: none;
  opacity: 0;
  transition: opacity .8s;
}
.dialog.shown {
  opacity: 1;
}
.dialog.shown .container {
  top: 0;
  opacity: 1;
}
.dialog .container {
  background: #fff;
  max-width: 480px;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  position: relative;
  top: -200px;
  opacity: 0;
  transition: top .5s, opacity .5s;
}
.dialog .container .dialog-title {
  clear: both;
  display: block;
  background: #eee;
  padding: 15px 20px;
  border-radius: 5px 5px 0 0;
  font-size: 1.2em;
}
.dialog .container .dialog-msg {
  padding: 20px 20px 40px 20px;
  display: block;
}
.dialog .container .icon-cross {
  font-size: 12px;
  color: #333;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.dialog .container .icon-cross:hover,
.dialog .container .icon-cross:focus {
  color: #666;
  outline: none;
  animation: rotation 2.5s cubic-bezier(0, 0, 0, 1.4) infinite;
}
.dialog .loading {
  color: #8BC34A;
  width: 100%;
  height: 100%;
  text-align: center;
  display: table;
  font-size: 50px;
}
.dialog .loading .icon-spinner6 {
  display: table-cell;
  vertical-align: middle;
  animation: rotation 0.8s steps(8) infinite;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
@keyframes btn-focus {
  from {
    transform: scale(1) rotate(0deg);
  }
  to {
    transform: scale(1.1) rotate(3deg);
  }
}
