<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="sr in src">
            <td>{{ sr.name }}</td>
            <td>
                <a class="icon-unlocked" title="Decrypt" ng-click="actions.unlockSr(sr)"></a>
                <a class="icon-folder-download" title="Export" ng-click="actions.exportSr(sr)"></a>
                <a class="icon-bin" title="Trash" ng-click="actions.removeSr(sr)"></a>
            </td>
        </tr>
    </tbody>
</table>
