<form ng-submit="actions.submit()">
    <input type="text" placeholder="Title" autocomplete="off" ng-model="sr.name">
    <password ng-model="sr.plainKey" placeholder="Passphrase" />
    <textarea ng-model="sr.plainData" placeholder="To be encrypted..."></textarea>
    <button type="submit">Encrypt <span class="icon-lock"></span></button>
</form>
