<form ng-submit="actions.submit()">
    <input type="text" autocomplete="off" ng-model="sr.name" disabled>
    <password ng-model="unlock.key" placeholder="Passphrase" />
    <button type="submit">Continue <span class="icon-unlocked"></span></button>
</form>
